.mob_wrap{
    p:last-child{
        margin-bottom: 0;
    }
}

//main menu
.main_menu{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
    text-align: center;
}
.main_menu__item{
    display: inline-block;
    padding: 3px 6px;
    text-transform: uppercase;
    font-size: 12px;
}

.logo{
    width: 173px;
    height: 35px;
}
.web_version{
    font-size: 12px;
    text-decoration: underline;
}

.hr{
    border-bottom: 1px solid #E5E5E5;
}
.hr--dashed{
    border-bottom-style: dashed;
    border-bottom-color: #ccc;
}

.shadow{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.social_title{
    font-size: 14px;
    line-height: 1;
}

.social__item{
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.static_banner_title{
    background-color: #85518b;
}
.static_banner_title__txt{
    color: #fff;
    text-align: center;
    font-size: 18px;
    line-height: 1;
    padding-top: 10px;
    padding-bottom: 10px;
}

.static_banner__wrap{
    padding-bottom: 8px !important;
}
.static_banner{
    width: 100%;
    padding: 0;
    list-style: none;
    font-size: 0;
}
.static_banner__item{
    display: inline-block;

    img{
        max-width: 100%;
        height: auto;
    }
}

.copyright{
    color: #c0c0c0;
    font-size: 12px;
}



//desktop
@media (min-width: #{$global-breakpoint}) {
    .large-12{
        width: 590px !important;
    }
    .static_banner{
        margin: 0;
        white-space: nowrap;
    }
    .static_banner__item{
        width: 191px;
        padding-left: 4px;
        padding-right: 4px;
    }
}
//mobile
@media only screen and (max-width: #{$global-breakpoint}) {
    table.container {
        width: 95% !important;
    }
    .columns{
        width: 100% !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .mob_wrap,
    .social_title{
        padding-right: 8px !important;
        padding-left: 8px !important;
    }
    .small_logo{
        width: 48px !important;
        height: 35px !important;
    }
    .static_banner{
        text-align: center;
    }
    .static_banner__item{
        margin-bottom: 6px;
        &:last-child{
            margin-bottom: 0;}
    }
    table.body img {
        width: auto !important;
        height: auto !important;
    }
}


//helpers
.pb0{padding-bottom: 0 !important;}
.pl0{padding-left: 0 !important;}
.pr0{padding-right: 0 !important;}
.vam{vertical-align: middle !important;}
.tar{text-align: right !important;}
.dib{display: inline-block !important;}