---
layout: index-layout
subject: Watsons
---

<wrapper>

<spacer size="16"></spacer>

<container class="shadow">
  <spacer size="16"></spacer>

  <row>
    <columns small="8" large="6">
      <a href="http://www.watsons.ua/"><img src="http://www.watsons.ua/medias/sys_master/hc8/h13/8796258959390/logo_header.png" alt="watsons" class="logo"></a>
    </columns>
    <columns small="4" large="6" class="vam">
      <div class="tar web_version"><a href="#" target="_blank">веб-версiя</a></div>
    </columns>
  </row>

  <div class="hr"></div>

      <spacer size="16"></spacer>
  <row>
      <columns small="12" large="12">
        <div class="main_menu">
          <div class="main_menu__item">
            <a href="http://www.watsons.ua/%D0%90%D0%BA%D1%86%D1%96%D1%97/lc/TBG"
               target="_blank">Акції</a>
          </div>
          <div class="main_menu__item">
            <a href="http://www.watsons.ua/%D0%94%D0%B8%D1%82%D1%8F%D1%87%D1%96-%D1%82%D0%BE%D0%B2%D0%B0%D1%80%D0%B8/lc/A"
                 target="_blank">Дитячі товари</a>
          </div>
          <div class="main_menu__item">
            <a href="http://www.watsons.ua/%D0%94%D0%BB%D1%8F-%D0%B4%D0%BE%D0%BC%D1%83/lc/B"
               target="_blank">Дім</a>
          </div>
          <div class="main_menu__item"><a href="http://www.watsons.ua/%D0%94%D0%BB%D1%8F-%D0%B2%D0%BE%D0%BB%D0%BE%D1%81%D1%81%D1%8F/lc/C"
                 target="_blank">Волосся</a>
          </div>
          <div class="main_menu__item">
            <a href="http://www.watsons.ua/%D0%94%D0%BB%D1%8F-%D0%BE%D0%B1%D0%BB%D0%B8%D1%87%D1%87%D1%8F/lc/E"
                 target="_blank">Обличчя</a>
          </div>
          <div class="main_menu__item">
            <a href="http://www.watsons.ua/%D0%94%D0%BB%D1%8F-%D1%82%D1%96%D0%BB%D0%B0/lc/F"
               target="_blank">Тіло</a>
          </div>
          <div class="main_menu__item">
            <a href="http://www.watsons.ua/%D0%9A%D1%80%D0%B0%D1%81%D0%B0-%D1%82%D0%B0-%D0%B7%D0%B4%D0%BE%D1%80%D0%BE%D0%B2%27%D1%8F/lc/H"
               target="_blank">Краса</a>
          </div>
          <div class="main_menu__item">
            <a href="http://www.watsons.ua/%D0%97%D0%B4%D0%BE%D1%80%D0%BE%D0%B2%27%D1%8F/lc/K"
               target="_blank">Здоров'я</a>
          </div>
        </div>
      </columns>
  </row>
</container>

<spacer size="16"></spacer>

<container class="shadow">
  <spacer size="16"></spacer>
  <row>
    <columns large="12" small="12">
      <div class="mob_wrap">
        <h3>Про компанiю</h3>
        <p>A.S. Watson Group є найбільшою роздрібною мережею торгівлі товарами для краси та здоров’я в Азії та Європі з
          більш ніж 11 000 роздрібних магазинів, 13 роздрібними брендамина 25 ринках.</p>
        <p>Група володіє великим портфелем
          брендів і географічним охватом на роздрібному ринку, пропонуючи усе: від товарів для краси та здоров’я,
          продуктів харчування і електроніки до парфумерії.</p>
      </div>
    </columns>
  </row>
</container>

<spacer size="16"></spacer>

<container class="shadow">
  <row class="collapse">
    <columns small="12" class="pb0">
      <a href="http://www.watsons.ua/%D0%94%D0%BB%D1%8F-%D1%82%D1%96%D0%BB%D0%B0/%D0%92%D0%B0%D1%82%D0%BD%D1%96-%D0%B2%D0%B8%D1%80%D0%BE%D0%B1%D0%B8-%D1%82%D0%B0-%D1%96%D0%BD-/c/F600" target="_blank">
        <canter><img
                width="590"
                height="590"
                style="margin: 0 auto"
                src="http://placehold.it/590"
                alt="Ватні вироби та ін."></canter>
      </a>
    </columns>
  </row>
</container>

<spacer size="16"></spacer>

<container class="shadow">
  <row class="static_banner_title">
    <columns small="12" large="12" class="pb0">
      <div class="static_banner_title__txt">УЧАСНИКИ WATSONS CLUB ОТРИМУЮТЬ БІЛЬШЕ</div>
    </columns>
  </row>
  <row class="collapse">
    <columns small="12" large="12" class="static_banner__wrap">
      <div class="static_banner">
        <div class="static_banner__item pl0"><a href="#">
          <img src="http://placehold.it/200" alt="static banner">
        </a></div>
        <div class="static_banner__item"><a href="#">
          <img src="http://placehold.it/200" alt="static banner">
        </a></div>
        <div class="static_banner__item pr0"><a href="#">
          <img src="http://placehold.it/200" alt="static banner">
        </a></div>
      </div>
    </columns>
  </row>
  <row class="collapse">
    <columns small="12" large="12">
        <center><a href="#" class="dib"><img src="http://placehold.it/590x110" width="590" height="110" alt="static banner"></a></center>
    </columns>
  </row>
</container>

<container class="shadow">

  <div class="hr hr--dashed"></div>

  <spacer size="16"></spacer>
  <row>
    <columns small="12" large="6" class="vam">
      <div class="social_title"><strong>Залишайтеся з нами на наших<br>
        сторінках в соціальних мережах</strong></div>
    </columns>
    <columns small="12" large="6" class="vam">
      <menu class="social">
        <item href="https://www.facebook.com/WatsonsUA" target="_blank" class="social__item">
          <img src="http://www.watsons.ua/medias/sys_master/hc4/hbb/8799815598110.png" alt="fb">
        </item>
        <item href="https://vk.com/watsonsukraine" target="_blank" class="social__item">
          <img src="http://www.watsons.ua/medias/sys_master/hca/hbb/8799815794718.png" alt="vk">
        </item>
        <item href="https://www.instagram.com/watsonsua/" target="_blank" class="social__item">
          <img src="http://www.watsons.ua/medias/sys_master/hd6/hbb/8799816187934/inst.png" alt="in">
        </item>
        <item href="https://twitter.com/watsonsua" target="_blank" class="social__item">
          <img src="http://www.watsons.ua/medias/sys_master/hd2/hbb/8799816056862/t.png" alt="tw">
        </item>
        <item href="https://www.youtube.com/channel/UCBh5K_2J5MRnTTcS1GBDjRQ" target="_blank" class="social__item">
          <img src="http://www.watsons.ua/medias/sys_master/h38/h8c/8818744098846/forsq.png" alt="yt">
        </item>
      </menu>
    </columns>
  </row>

  <div class="hr hr--dashed"></div>

  <spacer size="16"></spacer>

  <row>
    <columns large="10" small="9">
      <div class="copyright mob_wrap">© Watsons Всі матеріали, що розміщені на цьому сайті, належать правовласнику та захищені
        авторським правом відповідно до чинного законодавства України
      </div>
    </columns>
    <columns large="2" small="3" class="vam">
      <div class="tar">
        <a href="#" class="dib">
          <img src="http://www.watsons.ua/medias/sys_master/h9a/hbf/8799847776286/logoSmallScroll.gif" alt="watsons" class="small_logo">
        </a>
      </div>
    </columns>
  </row>
</container>

<spacer size="16"></spacer>

</wrapper>